
bin/Debug/netstandard2.0/0Harmony.dll
bin/Debug/netstandard2.0/0Harmony.xml
bin/Debug/netstandard2.0/Assembly-CSharp.refstub.dll
bin/Debug/netstandard2.0/BepInEx.dll
bin/Debug/netstandard2.0/BepInEx.xml
bin/Debug/netstandard2.0/BetterAPI.dll
bin/Debug/netstandard2.0/BetterShrines.deps.json
bin/Debug/netstandard2.0/BetterShrines.dll
bin/Debug/netstandard2.0/BetterShrines.pdb
bin/Debug/netstandard2.0/HGCSharpUtils.dll
bin/Debug/netstandard2.0/MMHOOK_Assembly-CSharp.dll
bin/Debug/netstandard2.0/Mono.Cecil.dll
bin/Debug/netstandard2.0/MonoMod.Utils.dll
bin/Debug/netstandard2.0/MonoMod.Utils.xml
bin/Debug/netstandard2.0/MoreShrines.deps.json
bin/Debug/netstandard2.0/MoreShrines.dll
bin/Debug/netstandard2.0/MoreShrines.pdb
bin/Debug/netstandard2.0/Unity.TextMeshPro.dll
bin/Debug/netstandard2.0/UnityEngine.AccessibilityModule.dll
bin/Debug/netstandard2.0/UnityEngine.AIModule.dll
bin/Debug/netstandard2.0/UnityEngine.AnimationModule.dll
bin/Debug/netstandard2.0/UnityEngine.ARModule.dll
bin/Debug/netstandard2.0/UnityEngine.AssetBundleModule.dll
bin/Debug/netstandard2.0/UnityEngine.AudioModule.dll
bin/Debug/netstandard2.0/UnityEngine.ClothModule.dll
bin/Debug/netstandard2.0/UnityEngine.ClusterInputModule.dll
bin/Debug/netstandard2.0/UnityEngine.ClusterRendererModule.dll
bin/Debug/netstandard2.0/UnityEngine.CoreModule.dll
bin/Debug/netstandard2.0/UnityEngine.CrashReportingModule.dll
bin/Debug/netstandard2.0/UnityEngine.DirectorModule.dll
bin/Debug/netstandard2.0/UnityEngine.dll
bin/Debug/netstandard2.0/UnityEngine.GameCenterModule.dll
bin/Debug/netstandard2.0/UnityEngine.GridModule.dll
bin/Debug/netstandard2.0/UnityEngine.ImageConversionModule.dll
bin/Debug/netstandard2.0/UnityEngine.IMGUIModule.dll
bin/Debug/netstandard2.0/UnityEngine.InputModule.dll
bin/Debug/netstandard2.0/UnityEngine.JSONSerializeModule.dll
bin/Debug/netstandard2.0/UnityEngine.LocalizationModule.dll
bin/Debug/netstandard2.0/UnityEngine.Networking.dll
bin/Debug/netstandard2.0/UnityEngine.ParticleSystemModule.dll
bin/Debug/netstandard2.0/UnityEngine.PerformanceReportingModule.dll
bin/Debug/netstandard2.0/UnityEngine.Physics2DModule.dll
bin/Debug/netstandard2.0/UnityEngine.PhysicsModule.dll
bin/Debug/netstandard2.0/UnityEngine.ScreenCaptureModule.dll
bin/Debug/netstandard2.0/UnityEngine.SharedInternalsModule.dll
bin/Debug/netstandard2.0/UnityEngine.SpriteMaskModule.dll
bin/Debug/netstandard2.0/UnityEngine.SpriteShapeModule.dll
bin/Debug/netstandard2.0/UnityEngine.StreamingModule.dll
bin/Debug/netstandard2.0/UnityEngine.StyleSheetsModule.dll
bin/Debug/netstandard2.0/UnityEngine.TerrainModule.dll
bin/Debug/netstandard2.0/UnityEngine.TerrainPhysicsModule.dll
bin/Debug/netstandard2.0/UnityEngine.TextCoreModule.dll
bin/Debug/netstandard2.0/UnityEngine.TextRenderingModule.dll
bin/Debug/netstandard2.0/UnityEngine.TilemapModule.dll
bin/Debug/netstandard2.0/UnityEngine.UI.dll
bin/Debug/netstandard2.0/UnityEngine.UIElementsModule.dll
bin/Debug/netstandard2.0/UnityEngine.UIModule.dll
bin/Debug/netstandard2.0/UnityEngine.UNETModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityAnalyticsModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityConnectModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestAssetBundleModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestAudioModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestTextureModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestWWWModule.dll
bin/Debug/netstandard2.0/UnityEngine.VehiclesModule.dll
bin/Debug/netstandard2.0/UnityEngine.VFXModule.dll
bin/Debug/netstandard2.0/UnityEngine.VideoModule.dll
bin/Debug/netstandard2.0/UnityEngine.VRModule.dll
bin/Debug/netstandard2.0/UnityEngine.WindModule.dll
bin/Debug/netstandard2.0/UnityEngine.XRModule.dll
bin/Debug/netstandard2.1/Assembly-CSharp.dll
bin/Debug/netstandard2.1/BepInEx.dll
bin/Debug/netstandard2.1/BetterAPI.dll
bin/Debug/netstandard2.1/BetterShrines.deps.json
bin/Debug/netstandard2.1/BetterShrines.dll
bin/Debug/netstandard2.1/BetterShrines.pdb
bin/Debug/netstandard2.1/HGCSharpUtils.dll
bin/Debug/netstandard2.1/MMHOOK_Assembly-CSharp.dll
bin/Debug/netstandard2.1/Mono.Cecil.dll
bin/Debug/netstandard2.1/MonoMod.Utils.dll
bin/Debug/netstandard2.1/UnityEngine.AssetBundleModule.dll
bin/Debug/netstandard2.1/UnityEngine.CoreModule.dll
bin/Debug/netstandard2.1/UnityEngine.dll
bin/Debug/netstandard2.1/UnityEngine.Networking.dll
bin/Debug/netstandard2.1/UnityEngine.PhysicsModule.dll
bin/Debug/netstandard2.1/UnityEngine.SharedInternalsModule.dll
obj/project.nuget.cache
obj/project.assets.json
obj/MoreShrines.csproj.nuget.g.targets
obj/MoreShrines.csproj.nuget.g.props
obj/MoreShrines.csproj.nuget.dgspec.json
obj/Debug/netstandard2.1/BetterShrines.pdb
obj/Debug/netstandard2.1/BetterShrines.dll
obj/Debug/netstandard2.1/BetterShrines.csprojAssemblyReference.cache
obj/Debug/netstandard2.1/BetterShrines.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.1/BetterShrines.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.1/BetterShrines.csproj.CopyComplete
obj/Debug/netstandard2.1/BetterShrines.assets.cache
obj/Debug/netstandard2.1/BetterShrines.AssemblyInfoInputs.cache
obj/Debug/netstandard2.1/BetterShrines.AssemblyInfo.cs
obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
obj/Debug/netstandard2.0/MoreShrines.pdb
obj/Debug/netstandard2.0/MoreShrines.dll
obj/Debug/netstandard2.0/MoreShrines.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/MoreShrines.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.0/MoreShrines.csproj.CopyComplete
obj/Debug/netstandard2.0/MoreShrines.assets.cache
obj/Debug/netstandard2.0/MoreShrines.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/MoreShrines.AssemblyInfo.cs
obj/Debug/netstandard2.0/BetterShrines.pdb
obj/Debug/netstandard2.0/BetterShrines.dll
obj/Debug/netstandard2.0/BetterShrines.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/BetterShrines.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.0/BetterShrines.csproj.CopyComplete
obj/Debug/netstandard2.0/BetterShrines.assets.cache
obj/Debug/netstandard2.0/BetterShrines.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/BetterShrines.AssemblyInfo.cs
obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
obj/Debug/AssemblyReference.cache
obj/BetterShrines.csproj.nuget.g.targets
obj/BetterShrines.csproj.nuget.g.props
obj/BetterShrines.csproj.nuget.dgspec.json
NetworkWeaver/Unity.UNetWeaver.pdb
NetworkWeaver/Unity.UNetWeaver.exe
NetworkWeaver/Unity.Cecil.Pdb.dll
NetworkWeaver/Unity.Cecil.Mdb.dll
NetworkWeaver/Unity.Cecil.dll
NetworkWeaver/BetterShrines.dll.prepatch
libs/UnityEngine.Networking.dll
libs/UnityEngine.dll
libs/UnityEngine.CoreModule.dll
libs/UnityEngine.AssetBundleModule.dll
libs/MonoMod.Utils.dll
libs/Mono.Cecil.dll
libs/MMHOOK_Assembly-CSharp.dll
libs/HGCSharpUtils.dll
libs/BepInEx.dll
libs/Assembly-CSharp.dll
NetworkWeaver/BetterShrines.dll.prepatch
NetworkWeaver/Unity.Cecil.dll
NetworkWeaver/Unity.Cecil.Mdb.dll
NetworkWeaver/Unity.Cecil.Pdb.dll
NetworkWeaver/Unity.UNetWeaver.exe
NetworkWeaver/Unity.UNetWeaver.pdb
NetworkWeaver/BetterShrines.dll.prepatch
NetworkWeaver/Unity.UNetWeaver.pdb
NetworkWeaver/Unity.UNetWeaver.exe
NetworkWeaver/Unity.Cecil.Pdb.dll
NetworkWeaver/Unity.Cecil.Mdb.dll
NetworkWeaver/Unity.Cecil.dll
NetworkWeaver/BetterShrines.dll.prepatch
.vs/MoreShrines/v16/.suo
.vs/MoreShrines/DesignTimeBuild/.dtbcache.v2
MoreShrines.sln
MoreShrines.csproj
